* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background: url('/img/background.png') center/cover no-repeat;
}

.game-field {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-field {
  flex-basis: 50%;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.play-btn,
.stop-btn,
.timer,
.carrot-count {
  border: 3px solid black;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: xx-large;
}

.play-btn,
.stop-btn {
  width: 60px;
  height: 60px;
  background-color: wheat;
  cursor: pointer;
}

.timer {
  background-color: white;
  padding: 0.5rem 1.2rem;
}

.carrot-count {
  width: 60px;
  height: 60px;
  font-size: 45px;
  border-radius: 50%;
  text-align: center;
  background-color: salmon;
  color: white;
}

.replay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.replay-btn {
  cursor: pointer;
  padding: 10px;
  font-size: x-large;
  border-radius: 15px;
  background-color: wheat;
  margin: 20px 0;
}

.lower-field {
  flex-basis: 50%;
  position: relative;
}

.hidden {
  display: none;
}
