* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: url('img/background.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
}

.game-control {
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: column;
  flex-basis: 50%;
}

.game-control__play,
.game-control__stop,
.game-control__timer {
  border-radius: 10px;
  border: 4px solid black;
  margin-bottom: 10px;
}

.game-control__play,
.game-control__stop {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: blanchedalmond;
  transition: all 0.2s linear;
}

.game-control__play:hover,
.game-control__stop:hover {
  transform: scale(1.1);
}

.game-control__timer {
  padding: 10px 50px;
  background-color: white;
  font-size: 35px;
}

.game-control__carrot-count {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
  background-color: salmon;
  color: white;
  text-align: center;
  border-radius: 30px;
  border: 3px solid black;
}

.game-field {
  flex-basis: 50%;
}

.replay {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 70px;
}

.replay__btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 30px;
  background-color: blanchedalmond;
  border-radius: 10px;
  border: 3px solid black;
  font-weight: bold;
}

.replay__btn:hover {
  background-color: white;
}

.hidden {
  display: none;
}
